In [48]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
data= pd.read_csv('humidity.csv', sep=',', header=0)
print(data.head())

              datetime  Vancouver  Portland  San Francisco  Seattle  \
0  2012-10-01 12:00:00        NaN       NaN            NaN      NaN
1  2012-10-01 13:00:00       76.0      81.0           88.0     81.0
2  2012-10-01 14:00:00       76.0      80.0           87.0     80.0
3  2012-10-01 15:00:00       76.0      80.0           86.0     80.0
4  2012-10-01 16:00:00       77.0      80.0           85.0     79.0

   Los Angeles  San Diego  Las Vegas  Phoenix  Albuquerque  ...  Philadelphia  \
0          NaN        NaN        NaN      NaN          NaN  ...           NaN
1         88.0       82.0       22.0     23.0         50.0  ...          71.0
2         88.0       81.0       21.0     23.0         49.0  ...          70.0
3         88.0       81.0       21.0     23.0         49.0  ...          70.0
4         88.0       81.0       21.0     23.0         49.0  ...          69.0

   New York  Montreal  Boston  Beersheba  Tel Aviv District  Eilat  Haifa  \
0       NaN       NaN     NaN        NaN                NaN   25.0    NaN
1      58.0      93.0    68.0       50.0               63.0   22.0   51.0
2      57.0      91.0    68.0       51.0               62.0   22.0   51.0
3      57.0      87.0    68.0       51.0               62.0   22.0   51.0
4      57.0      84.0    68.0       52.0               62.0   22.0   51.0

   Nahariyya  Jerusalem
0        NaN        NaN
1       51.0       50.0
2       51.0       50.0
3       51.0       50.0
4       51.0       50.0

[5 rows x 37 columns]

In [49]:
#data clean up
d=data =data[pd.notnull(data['Jerusalem'])]

In [50]:
# train
# Editdata date and conversion to columns
data['datetime'] = pd.to_datetime(data['datetime']) 
data['year'] = data['datetime'].dt.year 
data['month'] = data['datetime'].dt.month  
data['day'] = data['datetime'].dt.day
data['hour']=data['datetime'].dt.hour
data.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem,year,month,day,hour
1,2012-10-01 13:00:00,76.0,81.0,88.0,81.0,88.0,82.0,22.0,23.0,50.0,...,50.0,63.0,22.0,51.0,51.0,50.0,2012,10,1,13
2,2012-10-01 14:00:00,76.0,80.0,87.0,80.0,88.0,81.0,21.0,23.0,49.0,...,51.0,62.0,22.0,51.0,51.0,50.0,2012,10,1,14
3,2012-10-01 15:00:00,76.0,80.0,86.0,80.0,88.0,81.0,21.0,23.0,49.0,...,51.0,62.0,22.0,51.0,51.0,50.0,2012,10,1,15
4,2012-10-01 16:00:00,77.0,80.0,85.0,79.0,88.0,81.0,21.0,23.0,49.0,...,52.0,62.0,22.0,51.0,51.0,50.0,2012,10,1,16
5,2012-10-01 17:00:00,78.0,79.0,84.0,79.0,88.0,80.0,21.0,24.0,49.0,...,54.0,62.0,23.0,51.0,51.0,50.0,2012,10,1,17

In [51]:
# select columns (int & float)
quantitative = data.select_dtypes(include = ["int64","float64"]).keys()
print(quantitative)

Index(['Vancouver', 'Portland', 'San Francisco', 'Seattle', 'Los Angeles',
       'San Diego', 'Las Vegas', 'Phoenix', 'Albuquerque', 'Denver',
       'San Antonio', 'Dallas', 'Houston', 'Kansas City', 'Minneapolis',
       'Saint Louis', 'Chicago', 'Nashville', 'Indianapolis', 'Atlanta',
       'Detroit', 'Jacksonville', 'Charlotte', 'Miami', 'Pittsburgh',
       'Toronto', 'Philadelphia', 'New York', 'Montreal', 'Boston',
       'Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa', 'Nahariyya',
       'Jerusalem', 'year', 'month', 'day', 'hour'],
      dtype='object')

In [46]:
y = data.iloc[:,36] # select country (Jerusalem)
X = data.iloc[:,37:] # select year , month , day , hour

In [52]:
y

1        50.0
2        50.0
3        50.0
4        50.0
5        50.0
         ...
44456    68.0
44457    72.0
44458    60.0
44459    56.0
44460    60.0
Name: Jerusalem, Length: 44347, dtype: float64

In [47]:
# work prediction for Random Forest Classifier
RF = RandomForestClassifier(n_estimators=60, max_depth=25, random_state=3)
RF.fit(X, y)
s=RF.predict(X.iloc[4434 :,:])
round(RF.score(X,y), 4)

0.9999

In [78]:
y_train = data.iloc[:37261,36:] 
X_test= data.iloc[37262:,37:]

In [79]:
y=y_train.iloc[:,0]
X=y_train.iloc[:,1:]

In [84]:
RF = RandomForestClassifier(n_estimators=60, max_depth=25, random_state=3)
RF.fit(X, y)
r=RF.predict(X_test)
round(RF.score(X,y), 4)

0.9999

In [93]:
r

array([82., 81., 81., ..., 87., 91., 91.])